.nav{
    z-index: 1000;
    background-color:white ;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    
    /* margin-right: 20px; */
}

.navlinks{
    font-family: ProximaNova,Arial,Sans-serif;
    font-size: 14px;
    padding: 1.5vmax;
    text-decoration: none;
    color:#616161;
    position: relative;
    /* right: 70px; */
   

}

#logoImage{
    transition: 0.3s;
    transform: translateX(-58px);
}
#logoImage:hover{
    transform: translateX(0px);
}

.navlinks:hover{
    color: orangered;
}

.searchBox{
    position: relative;
    left: 113px;
    
}

input{
    padding: 10px 10px;
    padding-right:20px ;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #616161 ;
}

.logo{
  background-color: orangered;
  width: 58px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  right:70px;
 
}

svg{
    fill:#616161;
}


